@model UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountAge)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = ViewContext.RouteData.Values["id"] }) |
    <a asp-action="Index">Back to List</a>
</div>
